<%= turbo_frame_tag "job_applications_index" do %>
  <div id="flash_messages">
    <%= render 'flash_messages' %>
  </div>
  <div class="my-2 md:my-8">
    <div class="mb-8 flex justify-between items-center">
      <div class="flex items-center">
        <%= image_tag(asset_path('apple-touch-icon.png'),
          height: '32',
          width: '32',
          class: "rounded-full object-cover shadow-sm border-2 border-gray-200 mr-2",
          aria: { label: "Job Tracker logo" },
          title: "Job Tracker logo") %>
        <h2 class="hidden md:block md:text-2xl font-semibold text-gray-700 shadow-2xl">
          Job Tracker
        </h2>
      </div>
    </div>
    <div id="job_applications_content">
      <%= render 'empty_or_table' %>
    </div>
  </div>
<% end %>
